.navbar-container {
    width: 100%;
}
.navbar-nav {
    margin: 0 auto;
    font-size: 17px; 
    /*font-style: italic;*/
}

body {
    font-family: verdana;
    /* for IE */
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 66px;
    padding-right: 66px;
    padding-top: 0px;
    padding-bottom: 50px;
    max-width: 960px;
}

#inner {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* This ensures equal height */
    gap: 20px;
}

.profilePicture {
    flex: 0 0 280px;
    max-width: 100%;
    display: flex;
    align-items: center; /* Center image vertically */
}

.profilePicture img {
    width: 100%;
    height: auto;
    border-radius: 23px;
}

.content {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the content vertically */
}

/* Additional styling for the hr element */
hr {
    width: 100%; /* Ensures the hr takes the full width of the container */
    border: 0.5px solid #ccc; /* Adds a border to make the hr visible */
    margin: 0 0; /* Adds some space above and below the hr */
}

@media (max-width: 768px) {
    #inner {
        flex-direction: column;
    }
    .profilePicture {
        margin: 0 auto;
    }
}
